<!DOCTYPE html>
html
    head
        meta(charset='utf-8')
        style.
            .link { font-weight: bold; font-size: 22px; }
    body
        p.link
            - var shownUrl = typeof url !== typeof void(0) ? url : '/#error';
            a(href="!{shownUrl}" target="_blank") Click here to connect
